*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html


*.DS_Store

.idea/*
proj2/.idea/*
.*~
*~

# Project 3 specific:
pa3/.bundle
pa3/db/*.sqlite3
pa3/log/*.log
pa3/tmp

# Project 4 specific:
pa4/.bundle
pa4/db/*.sqlite3
pa4/log/*.log
pa4/tmp