# RoR files
*.rbc
*.sassc
*.sass-cache
*capybara-*.html
*.rspec
*.rvmrc
*.bundle
*vendor/bundle
*log/*
*tmp/*
*db/*.sqlite3
*public/system/*
*coverage/
*spec/tmp/*
**.orig
*rerun.txt
*pickle-email-*.html
*.project

# Rubymine files
*/.idea
*.idea

# Heroku 
heroku/*

# Emacs tmp files
.*~
*~

# Mac files
*.DS_Store

# Project 3 specific:
pa3/.bundle
pa3/db/*.sqlite3
pa3/log/*.log
pa3/tmp

# Project 4 specific:
pa4/.bundle
pa4/db/*.sqlite3
pa4/log/*.log
pa4/tmp
pa4/.gitignore

# Project 5 specific:
pa5/.bundle
pa5/submission
pa5/db/*.sqlite3
pa5/log/*.log
pa5/tmp
pa5/.gitignore
pa5/public/images/*
!pa5/public/images/bieber1.jpg
!pa5/public/images/bieber2.jpg
!pa5/public/images/cover.jpg
!pa5/public/images/enigma.jpeg
!pa5/public/images/grid.png
!pa5/public/images/hilton1.jpg
!pa5/public/images/hilton2.jpg
!pa5/public/images/obama1.jpg
!pa5/public/images/obama2.jpg
!pa5/public/images/obama3.jpg
!pa5/public/images/ouster.jpg
!pa5/public/images/santa1.jpg

# Project 6 specific: 
pa6/submission
pa6/prev_submissions

# Project 7 specific:
pa7/app/assets/javascripts/tagger.html
pa7/.bundle
pa7/submission
pa7/db/*.sqlite3
pa7/log/*.log
pa7/tmp
pa7/.gitignore
pa7/public/images/*
!pa7/public/images/bieber1.jpg
!pa7/public/images/bieber2.jpg
!pa7/public/images/cover.jpg
!pa7/public/images/enigma.jpeg
!pa7/public/images/grid.png
!pa7/public/images/hilton1.jpg
!pa7/public/images/hilton2.jpg
!pa7/public/images/obama1.jpg
!pa7/public/images/obama2.jpg
!pa7/public/images/obama3.jpg
!pa7/public/images/ouster.jpg
!pa7/public/images/santa1.jpg

# Project 8 specific
pa8/p1/app/assets/javascripts/tagger.html
pa8/p1/.bundle
pa8/p1/submission
pa8/p1/db/*.sqlite3
pa8/p1/log/*.log
pa8/p1/tmp
pa8/p1/.gitignore
pa8/p1/public/images/*
!pa8/p1/public/images/bieber1.jpg
!pa8/p1/public/images/bieber2.jpg
!pa8/p1/public/images/cover.jpg
!pa8/p1/public/images/enigma.jpeg
!pa8/p1/public/images/grid.png
!pa8/p1/public/images/hilton1.jpg
!pa8/p1/public/images/hilton2.jpg
!pa8/p1/public/images/obama1.jpg
!pa8/p1/public/images/obama2.jpg
!pa8/p1/public/images/obama3.jpg
!pa8/p1/public/images/ouster.jpg
!pa8/p1/public/images/santa1.jpg
