// Place all the styles related to the State controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stateTable
{
    border: 1px solid black;
    margin: 20px;
    padding: 1px;
}

.stateTableCell
{
    white-space: nowrap;
    border-top: 1px solid white;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

.odd
{
    background: #DFE1E7;
}

.even
{
    background: #EEEFF2;
}
