// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photoPanel
{
	margin-bottom: 30px;
	padding: 35px;
}

.photoImg
{
	display: block;
    margin: 0px auto; 

    max-width: 450px;
    min-width: 350px;

	border-radius: 10px 10px 10px 10px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.15);
}

.photoCreationDate
{
	margin-top: 10px;
	text-align: center;
	font-size: 13px;
}

.photoSingleColumn
{
	width: 100%;
	float: left;
}

.photoLeftColumn
{
	width: 65%;
	float: left;
}

.photoRightColumn
{
	width: 35%;
	float: left;
}

.addPhotoBox
{
  background-color: #D9EDF7;

  width: 260px;
  height: 40px;

  padding-top: 20px;
  margin: 0px auto;
  margin-bottom: 15px;

  border-radius: 8px 8px 8px 8px;
  border: 1px dotted #3A87AD;

  box-shadow: 4px 4px 8px rgba(0,0,0,.15);

  clear: both;

  text-align: center;
  font-weight: bold;
}