/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*
{
  margin: 0px;
  padding: 0px;
}

body 
{
  background-color: #F4F4F4;
  background-image: url("/images/grid.png");
  background-repeat: repeat-x;
}

/* This is the styling for a div that wraps all the
   content (except the header) inside the body. 
   It creates a sort of white sheet/page on top
   of the grey background. */
.bodyContent
{
  background-color: #FFFFFF;

  min-height: 600px;
  width: 940px;

  margin-left: 100px;
  margin-bottom: 100px;
  padding: 35px;

  border-top: 1px solid #DBDBDB;
  border-left: 1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;

  box-shadow: 2px 2px 2px #CCCCCC;
}

.header
{
  background-image: url("/images/cover.jpg");

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: right;
  color: #FFFFFF;

  width: 1050px;
  height: 120px;
  line-height: 40px;

  margin-left: 52px;
  margin-right: 40px;
  margin-top: 18px;
  margin-bottom: 20px;

  padding: 15px;

  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0,0,0,.15);
}
