// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contentTitle
{
	text-align: center;
	padding-bottom: 50px;
}

.mugshotGrid
{
	margin-left: 65px;
}

.mugshotFrame
{
	float: left;
}

.mugshotName
{
	text-align: center;
	display: block;
	font-weight: bold;
}

.mugshot 
{
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: cover;
	
	width: 190px;
	height: 190px;
	
	float: left;
	
	margin: 20px;
	margin-left: 25px;
	margin-right: 25px;
	padding: 15px;
	
	border-radius: 10px 10px 10px 10px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.15);

	/* opacity: 0.68 */
}

.mugshot:hover
{
	opacity: 0.5;
	/* opacity: 1.0 */
}

a
{
	color: black;
	text-decoration: none;	
}


a:hover
{
	color: #CC6600;
	cursor: pointer;
}

.endPanelDiv
{
	clear: both;
}

