<% if alertType == "error"%>

	<div class="alert alertError">
        <% messages.each do |message|%>
            <p><%= message %></p>
        <% end %>
	</div>

<% elsif alertType == "success" %>

    <div class="alert alertSuccess">
        <% messages.each do |message|%>
            <p><%= message %></p>
        <% end %>
    </div>

<% elsif alertType == "info" %>

    <div class="alert alertInfo">
        <% messages.each do |message|%>
            <p><%= message %></p>
        <% end %>
    </div>

<% end %>
