<% if alertType == "error"%>

	<div class="alert alertError">
		<p><%= message %></p>
	</div>

<% elsif alertType == "success" %>

    <div class="alert alertSuccess">
      <p><%= message %></p>
    </div>

<% elsif alertType == "info" %>

    <div class="alert alertInfo">
      <p><%= message %></p>
    </div>

<% end %>
