<!-- this partial creates a reusable alert div to display errors, info or success messages -->
<% if alertType == "error"%>

	<div class="alertError">
		<h2>Error!</h2>
		<p><%= message %></p>
	</div>

<% end %>
