*
{
	margin: 0px;
	padding: 0px;
}

.endPanelDiv
{
	clear: both;
}

.tab
{
	font-family: Tahoma;
	font-size: 13px;
	text-decoration: none;
}

.tabs
{
	float: left;
	width: 400px;
}

a.tab:link
{
	color: black;
}

a.tab:hover
{
	color: #cc6600;
	cursor: pointer;
}

.navbar
{
	margin: 3px;
	width: 100%;
}

.leftColumn
{
	float: left;
	width: 196px;
	border-bottom: 1px solid #cccccc;
}

.leftUnselectedTab
{
	float: left;
	background-image: url('left.gif');
	width: 2px;
	height: 20px;

	margin-left: 4px;
	padding-left: 1px;
}

.midUnselectedTab
{
	float: left;
	background-image: url('mid.gif');	
	height: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

.rightUnselectedTab
{
	float: left;
	background-image: url('right.gif');
	width: 2px;
	height: 20px;

	padding-left: 1px;
}

.midColumn
{
	float: left;
	width: 71px;
	border-bottom: 1px solid white;
}

.selectedTab
{
	font-weight: bold;
}

.leftSelectedTab
{
	float: left;
	background-image: url('left-selected.gif');
	width: 2px;
	height: 20px;

	margin-left: -1px;
	padding-left: 1px;
}

.midSelectedTab
{
	float: left;
	background-image: url('mid-selected.gif');	
	height: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

.rightSelectedTab
{
	float: left;
	background-image: url('right-selected.gif');
	width: 2px;
	height: 20px;

	padding-left: 1px;
}

.rightColumn
{
	float: left;
	border-bottom: 1px solid #cccccc;
	margin-left: -2px;
	padding-left: 1px;
}

.endColumn
{
	border-bottom: 1px solid #cccccc;
	height: 20px;
	margin-left: -1px;
	padding-left: 10px;	
	margin-left: 3px;
	margin-right: 3px;
}